//========= VARIABLES =======================
// $brand-primary: #00bc82;
$brand-primary: #3498DB;
$brand-success: #213341;
$brand-info:#27AE60;
$footer-color:#28324E;
$pin-color:#bd081c;
$pin-color-low:#d45e6b;
$job-color:#2980b9;
//noise
$noise: url(' http://api.thumbr.it/whitenoise-361x370.png?background=4ea6ca00&noise=626262&density=92&opacity=14');
$noise-low: url(' http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&noise=626262&density=100&opacity=6');

//text styles
$fade-black:#555;

//==== profile pages ======
$tab-color-1:darken($color:$footer-color,$amount:8%);

//=========================


$gray-background:#eceff1;
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

.fade-b{
    color: $fade-black !important;
}