//========= VARIABLES =======================
@import 'colors';

// =========== GENERAL =======================
$propic-size:200px;
.btn-pinned,
.btn-pinned:focus {
    outline: none;
    background: $pin-color;
    color: white;
    border-color: white;
    &:hover {
        background: darken($color: $pin-color, $amount: 5%);
        color: white;
    }
}

.btn-pin,
.btn-pin:focus {
    outline: none;
    background: white;
    color: $pin-color;
    border-color: $pin-color;
    &:hover {
        background: lighten($color: $pin-color, $amount: 55%);
        color: $pin-color;
    }
}

.content {
    .resume {
        @media screen and (min-width: $break-sm+ 1px) {
            -webkit-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.16);
        }
    }
    
    .resume-left {
        padding: 0px;
        background: $footer-color;
        .insights-row {
            font-weight: 300;
            * {
                font-size: 18px;
            }
            padding: 60px 60px;
            table {
                width: 100%;
                .five-star {
                    padding-bottom: 20px;
                }
                #rateYo {
                    padding-top: 10px;
                }
            }
        }
        * {
            color: white;
        }
        .left-row {
            margin: 0px;
            &:not(.picture-row) {
                //height: 150px;
            }
            .company-logo{
                margin-bottom: 25px;
                img{
                    width: 50%;
                    
                    border-radius: 10px;
                }
                
            }
            .title {
                font-weight: 500;
                line-height: 40px;
                font-size: 24px;
                height: 40px;
                width: 100%;
                padding-left: 60px;
             //  text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.85);
            }
            .data {
                padding-left: 60px;
                padding-right: 60px;
                margin: 40px 0px;
                font-weight: 300;
                font-size: 18px;
                ul {
                    margin-left: 10px;
                    padding-left: 0;
                }
                li {
                    margin: 10px 0px;
                    list-style: none;
                }
                //for data tables
                table {
                    tr {
                        td {
                            padding: 10px;
                            img {
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
        .insights-row{
            
        }
        .contact-row {
            .title {
                background: $tab-color-1;
            }
             table {
                word-wrap: break-word!important;
                table-layout: fixed!important;
                *{
                    border: none;
                }
                
                .contact-table-img-td {
                    width: 50px;
                }
                
            }
        }
        .languages-row {
            .title {
                background:  $tab-color-1;
            }
            .data {
                li {
                    margin: 5px 4px;
                    background: lighten($color: darkblue, $amount: 65%);
                    border: none;
                    border-radius: 25px;
                    color: $brand-success;
                }
            }
        }
        
    }
    .resume-right {
        padding: 55px;
        * {
            color: black;
        }
        background: white;
        .right-row {
            .glyphicon {
                margin-right: 30px;
            }
            margin: 0px;
            &:not(.picture-row) {
                // height: 150px;
            }
            .title {
                margin-bottom: 30px;
                font-weight: 500;
                line-height: 40px;
                font-size: 27px;
                height: 40px;
                width: 100%;
                //padding-left: 60px;
                // text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.85);
            }
            .data {
                ul {
                    margin-left: 10px;
                    padding-left: 0;
                }
                li {
                    font-size: 20px;
                    margin: 10px 0px;
                    font-weight: 400;
                    list-style: none;
                }
                table {
                    /*  margin:15px 0px; 
                    td{
                        padding: 5px 10px;
                    }*/
                }
                h4 {
                    font-weight: 600;
                }
            }
            .attachments-table {
                img {
                    height: 60px;
                }
            }
            .table-hover{
                cursor: pointer;
            }
        }
    }
}

.rtags {
    //tags for mobile view
    font-size: 15px!important;
    color: black!important;
    margin: 5px 2px!important;
}

.resume-toolbar {
    @media screen and (max-width: $break-sm) {
        margin: 0;
    }
    padding: 15px;
    padding-bottom: 5px;
    // height: 70px;
    background: lighten($color: $brand-primary, $amount: 35%);
    .btn {
        margin-left: 10px;
        margin-bottom: 10px;
        .glyphicon {
            margin-right: 10px;
        }
    }
}


