//========= VARIABLES =======================
@import 'colors';

// =========== GENERAL  =======================
.left-home{
    height: 1000px;
    background: $noise;
    background-color: $brand-primary;
}

.right-home{
    
    height: 1000px;
    background: $noise;
    background-color: $brand-success;
}