@import 'colors';
.holder:not(row-social-login) {
    //margin: 40px;
    &>div {
        padding: 50px;
    }
    .left-col {
        color: black!important;
        @media screen and (max-width: $break-sm) {
            padding-top: 15px;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        background-image: $noise-low;
        background-color: lighten($color: lightgray, $amount: 10%);
        // height: 500px;
        .row-form {
            padding-top: 20px;
            input {
                border: 1px solid #bbb;
            }
        }
        .row-fbgoogle {
            padding-top: 20px;
            img {
                height: 120px;
            }
            .fa {
                //margin: 5px;
            }
        }
    }
    .right-col {
        color: white;
        background-image: $noise;
        background-color: $brand-primary;
        //height: 500px;
        .image {
            display: none;
            img {
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                @media screen and (max-width: $break-sm) {
                    width: 100%;
                }
            }
        }
        .promise {
            padding: 30px 10px 5px 0;
            h3 {
                margin: 0;
            }
        }
        .create-btn-div {
            //position: relative;
            .arrow {
                //position: absolute;
                height: 60px;
                @media screen and (max-width: $break-sm) {
                    height: 30px;
                }
            }
        }
    }
}

.row-social-login {
    padding-top: 20px;
    div {
        display: inline-block;
    }
}