//========= VARIABLES =======================
@import 'colors';

// =========== GENERAL =======================
$propic-size:200px;
.content {
    .resume {
        @media screen and (min-width: $break-sm+ 1px) {
            -webkit-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.16);
        }
    }
     .pic-frame {
            //background:url('./../assets/resume.img/dummy/propic_resume.jpg');
            border-radius: 100%;
            
            height: $propic-size;
            width: $propic-size;
            margin: 40px auto;
            
            &.m{
               
                margin-bottom: 0px;
            }
        }
    .resume-left {
        padding: 0px;
        background: $footer-color;
        * {
            color: white;
        }
        
       
        .left-row {
            margin: 0px;
            &:not(.picture-row) {
                //height: 150px;
            }
            .title {
                font-weight: 500;
                line-height: 40px;
                font-size: 24px;
                height: 40px;
                width: 100%;
                padding-left: 60px;
                //text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.85);
            }
            .data {
                padding-left: 60px;
                padding-right: 60px;
                margin: 40px 0px;
                font-weight: 300;
                font-size: 18px;
                ul {
                    margin-left: 10px;
                    padding-left: 0;
                }
                li {
                    margin: 10px 0px;
                    list-style: none;
                }
                //for data tables
                table {
                    tr {
                        td {
                            padding: 10px;
                            img {
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
        .contact-row {
            .title {
                background:  $tab-color-1;
            }
            table {
                word-wrap: break-word!important;
                table-layout: fixed!important;
                *{
                    border: none;
                }
                
                .contact-table-img-td {
                    width: 50px;
                }
                
            }
        }
        .languages-row {
            .title {
                background:  $tab-color-1;
            }
            .data {
               li {
                    margin: 5px 4px;
                    background: lighten($color: darkblue, $amount: 65%);
                    border: none;
                    border-radius: 25px;
                    color: $brand-success;
                }
            }
        }
        .skills-row {
            .title {
                background:  $tab-color-1;
            }
            .data {
                li {
                    margin: 5px 2px;
                    background: lighten($color: darkgreen, $amount: 70%);
                    border: none;
                    border-radius: 25px;
                    color: $brand-success;
                }
            }
        }
    }
    .resume-right {
        padding: 55px;
        * {
            color: black;
        }
        background: white;
        .right-row {
            .glyphicon {
                margin-right: 30px;
            }
            margin: 0px;
            &:not(.picture-row) {
                // height: 150px;
            }
            .title {
                margin-bottom: 30px;
                font-weight: 500;
                line-height: 40px;
                font-size: 27px;
                
                width: 100%;
                //padding-left: 60px;
                // text-shadow: 1px 1px 5px rgba(150, 150, 150, 0.85);
            }
            .data {
                ul {
                    margin-left: 10px;
                    padding-left: 0;
                }
                li {
                    font-size: 20px;
                    margin: 10px 0px;
                    font-weight: 400;
                    list-style: none;
                }
                table {
                    /*  margin:15px 0px; 
                    td{
                        padding: 5px 10px;
                    }*/
                }
                h4 {
                    font-weight: 600;
                }
            }
        }
    }
}

.resume-toolbar {
    @media screen and (max-width: $break-sm) {
        margin: 0;
    }
    padding: 15px;
    padding-bottom: 5px;
    background: lighten($color: $brand-primary, $amount: 35%);
    .btn {
        margin-left: 10px;
        margin-bottom: 10px;
        .glyphicon {
            margin-right: 10px;
        }
    }
}