.content {

    .left-div {
     
        margin: 0;
        padding: 0;
        height: 1000px;
        background: darkred;
    }
    .right-div {
       
     
        margin: 0;
        padding: 0;
        height: 1000px;
        background: darkblue;
    }
}